/*
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
*/

@import 'bootstrap';

html, body, body > .container {
  height: 100%;
}

table {
  &.table-hover {
    tr[data-href]:hover {
      background: #79BAFF;
    }
  }
}

.navbar {
  padding: 0;
}

#barcode-scanner {
  canvas, video {
    width: 100%;
    height: auto;

    &.drawingBuffer {
      display: none;
    }
  }
}