/*
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
*/

@import 'bootstrap';

html, body, body > .container {
  height: 100%;
}

table {
  &.table-hover {
    tr:hover {
      background: #79BAFF;
    }
  }
}