/*
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
*/

@import 'bootstrap';
@import "font-awesome";

html, body, body > .container {
  height: 100%;
}

table.table {
  th {
    border: none;
  }
}

.navbar {
  padding: 0;
}

#barcode-scanner {
  canvas, video {
    width: 100%;
    height: auto;

    &.drawingBuffer {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  body > .container {
    overflow: hidden;
    & > * {
      overflow: visible;
    }
  }
}

.hidden {
  @extend .d-none;
}

.alert-alert {
  @extend .alert-warning;
  text-align: center;
}