- listing_name = @user.student_orders.present? ? :users_with_orders : :users_without_orders
- partial = @user.valid? ? 'admin/users/user' : 'admin/users/edit_form'
= smart_listing_item listing_name, :update, @user, partial